/* position main nav to horizontally centered & vertical top */
.sqs-slice-group.align-center {
  top: 10%;        /* adjust % to position vertically */
}
/* position mobile nav to horizontal right & vertically centered */
@media only screen and (max-width: 600px) {
  .sqs-slice-group.align-center {
    top: 50%;
    left: 85%;     /* adjust % to positon horizontally */
   }
}