
@import url(https://fonts.googleapis.com/css?family=Oxygen:700,400|Cabin:400,700,700italic);

/*color name */
h1 {
	color: #333333;
	text-align:center;
	font-size: 250%;
	text-shadow: 2px 2px 3px #666666;
	padding-bottom: 2%;}
	
h2 {
	color: #708090;
	}
	
	
h3 {
	color: #708090;
	}
	
p {
	color: #333333;
	}
	
    
a:link{
color: #ffffff;
padding: 1%;
    }
    
a.ex1:visited, a.ex1:link {color:green;
	text-decoration: underline;
} 

a.ex1:hover, a.ex1:active {font-size: 150%;
	background: red;
	text-decoration: underline;
}

a.ex2:visited, a.ex2:link {color:yellow;
	text-decoration: underline;
}

a.ex2:hover, a.ex1:active {font-size: 150%;
	background: blue;
	text-decoration: none;
}



body {
background-color: #BBBBBB;
font-family: 'Arial', sans-serif;
font-size: 14px;
margin: 5%
}

li {
color: white;
    }


footer {
    background: white
    clear: both;
}