@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Oxygen:700,400|Cabin:400,700,700italic);

/*color name */
h1 {
	color: Darkblue;}
h2 {
	color: #dc143c;}
p {
	color: #0033CC}
	
	
body {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  }
	
	
	
