
header {
  background-color: #00CC33; /*neon green*/
  background-image: url("images/flywheel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 25px;
  padding-left: 25px;
}
 

body {
  background-color: #FFFFFF;
  text-align: left;
  padding-top: 25px;
  padding-right: 10px;
  padding-bottom: 25px;
  padding-left: 10px;
  margin: 20px;
}
 
    
h1 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}


h2 {
    color: #000000;
}


nav a {color: #000033;
    background-image: inherit;
    text-align: center;
    margin: -10px 15px 50px 50px;
    padding:2% 3%;
    text-decoration: none;
    display:inline-block;
    border-radius: .3em;
    background-color: rgba(255,255,255,.4);
    width: 12%;
  }


nav a.active {color: #000033;
    background-color: #FFFFFF;
    text-decoration: none;
  }

img {width: 70%;
    height: auto;
    border-style:solid;
    border-color: #000000;
    border-width: 2px;
    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1%;
}

.left{width:25%;
  height:100%;
  margin-left: 0%;
  margin-top: 0%;
  margin-right: 1%;
  display:inline;
  float:left;
  background-color: #8B8000;/*olive*/
  padding-bottom: 20%;
}

.right{margin-left: 3%;
  margin-top: 1%;
  display:inline;
}


